/*.outside {
    background-color: #F7F6F2e;
}*/
h2 {
    color: #C74451;
}

h3 {
    color: #C74451;
}

a {
    color: #C74451
}

body{
    background-color: #F5F4F0; 
    font-style: normal;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-body {
	width: 803px; 
	margin: 0 auto;  
}

#page-title {
    font-size: 25px;
    height:95px;
}

header h1 {   
    /*this is perfect*/
    padding-top: 13px; 
    padding-left: 12.5px;   
   
}

#sub-heading{
    /*this is perfect*/
    font-size: 18px; 
    font-weight: lighter;
    display: block;  
    padding-top: 2px;
}

.top-menu ul {
    color: #F7F6F2;
    list-style-type: none;
    margin-right: 1px;
    margin-left: 2px;
    padding: 0px;
    overflow: hidden;
    background-color: #000305;
    margin-top: 22px;
    height: 40px;
    border-radius: 5px;
}

.top-menu li {
    float: left;
    width: 87px;
    height: 40px;
    border-right:0px solid #bbb;
}

#portfolio {
    width: 111px;
}

#blog {
    padding-left: 2px;
}

#contact {
    padding-left: 9px;
}

.top-menu li:last-child {
    border-right: none;
}

.top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px 15px 11.5px;
    text-decoration: none;
    
    
   
}

.top-menu li a:hover:not(.active) {
    background-color: #C74451;
}

.top-menu .active {
    background-color: #C74451;
}


.feature-article {
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    list-style-type: none;
    margin-top: 32px;
    margin-bottom: 28px;
    margin-left: 2px;
    margin-right: 1px;
    overflow: hidden;
    background-color: white;
    padding-left: 20px;
    padding-right: 48px;
    border-radius: 10px;
    height: 166px;
    
}

#featured-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 19px;
}



#sub-heading2{
    color: black;
    padding-top: 6px;
    font-size: 20px; 
    font-weight: lighter;
    display: block;  
}

.parent-div p {
    line-height: 1.45;
    margin-top: 1px;
  
    
}

.article {   
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    border-color: #EEEEEE;   
    line-height: 1.5;
    margin-left: 2px;
    margin-right: 1px;
    margin-top: 1px;
    border-radius: 10px;
}

.highlight:hover {
    background: #C74451;
}

div .highlight:hover h2{
    color: goldenrod;
}

div .highlight:hover a{
    color: goldenrod;
}


.light-up>li:hover {
    background: #C74451;
} 

.parent-div{
    width:385px;
    height:180px;
    float:left;
}

.child-div{
    float: right;
    margin-top: 31px;
    border-style:solid;
    border-color: #F5F4F0;
    border-width: 2px;
    
}

.parent-div-two{
    width:200px;
    height:100px;
    margin-top: 0px;
    margin-right:0px;
    padding-top: 0px;
    float:left;
}

.parent-div-two p {
    margin-top: 5px;
    padding-left: 10px;
    margin-top: 21px;
}

.add-border {
   padding-bottom: 1px;
   padding-top: 1px;
   border-bottom-style: inset;
   border-top-style: solid;
   border-bottom-width: 1px;   
   border-top-width: 1px;
   border-top-color: #ffffff;
   border-bottom-color:  #F4E3E3;
  
}

.child-div-two h2 {
    height: 26px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 20px; 
    font-weight: lighter;
    display: block; 
}

.child-div-two p {
    margin-top: 0px;
}

.bottom-menu {
    height: 250px;
    padding-top: 25px;
}

#list-left h3 {
     margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

#list-left ul {
     -moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
    list-style: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    -webkit-padding-start: 0px;
}

#list-left li {   
   padding-bottom: 1px;
   padding-top: 1px;
   border-bottom-style: inset;
   border-top-style: solid;
   border-bottom-width: 1px;   
   border-top-width: 1px;
   border-top-color: #ffffff;
   border-bottom-color:  #F4E3E3;
}

#list-left li:nth-child(6n+0) {
     border-bottom-style: none;
}

#list-right h3 {
     margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

#list-right ul {
    -moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
    list-style: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    -webkit-padding-start: 0px;
}

#list-right li {
   padding-bottom: 1px;
   padding-top: 1px;
   border-bottom-style: inset;
   border-top-style: solid;
   border-bottom-width: 1px;   
   border-top-width: 1px;
   border-top-color: #ffffff;
   border-bottom-color:  #F4E3E3;
    
}


.bottom-article{
    list-style-type: none;
    background-color: #fff;
    padding: 10px;
    border-color: black;   
    border-radius: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    height: 80px;
}

.parent-div-three{
    width:200px;
    height:100px;
    margin-right:0px;
    float:left;
}

.middle-div-three{
    width:50px;
    height:100px;
    margin-right:15px;
    margin-left: 0px;
    margin-top: 18px;
    float: left;
    margin-top: 5px;
}

.child-div-three{ 
    margin-right:0px;
}

.align-left {
    float: right;
}

.bottom-article h3 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px
}

.bottom-article p {
    display: inline;
}

.parent-div-three p{
    margin: 1px;
}

.list-parent-div{
   
   
    margin-right:10px;
    float:left;
}

.list-child-div{
    margin-right:20px;
}

.social{
    background-image: url("\images\delicious.png");
}
